[Unit]
Description=user_bot_app
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/chat-creator-landing/
ExecStart=/home/chat-creator-landing/env/bin/python3 -m user_bot_app
RestartSec=10
Restart=on-failure

StandardOutput=append:/home/chat-creator-landing/log_output.log
StandardError=append:/home/chat-creator-landing/log_error.log

[Install]
WantedBy=multi-user.target